<div class="mt-4 mb-4 d-flex justify-content-center align-items-center align-items-center">
    <form class="text-white p-3 formstyle" #turnoForm="ngForm">
        <h3 class="text-center">Dar de Alta Turnos de Un Especialista</h3>
        <div class="mb-3">
            <label for="espectador" class="form-label text-white">Especialista:</label>
            <select class="form-select" id="especialista" name="especialista" [(ngModel)]="turno.especialista" required
                #especialista="ngModel">
                <option *ngFor="let especialista of especialistas" [ngValue]="especialista">
                    {{especialista.apellido}},
                    {{especialista.nombre}} - Profesión: {{especialista.profesion}}</option>
            </select>

            <div *ngIf="especialista.invalid && (especialista.dirty || especialista.touched)"
                class="alert alert-danger">
                <div *ngIf="especialista.errors?.['required']">
                    Debe seleccionar un especialista.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required
                placeholder="Ingrese fecha del turno" [(ngModel)]="turno.fecha" #fecha="ngModel">

            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="alert alert-danger">
                <div *ngIf="fecha.errors?.['required']">
                    Debe ingresar fecha del turno a registrar.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="hora" class="form-label">Hora de Inicio:</label>
            <input type="time" class="form-control" id="hora" name="hora" required placeholder="Ingrese fecha del turno"
                [(ngModel)]="turno.hora" #horaI="ngModel">

            <div *ngIf="horaI.invalid && (horaI.dirty || horaI.touched)" class="alert alert-danger">
                <div *ngIf="horaI.errors?.['required']">
                    Debe ingresar hora del turno a registrar.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="dni" class="form-label">Centro de Salud</label>
            <select class="form-select" aria-label="Default select example" id="tipo" name="centroSalud"
                [(ngModel)]="turno.centroSalud" required #centroSalud="ngModel">
                <option value="" disabled selected>Seleccione un centro de salud</option>
                <option value="Centro Huaico">Centro Huaico</option>
                <option value="Centro Cuyaya">Centro Cuyaya</option>
            </select>

            <div *ngIf="centroSalud.invalid && (centroSalud.dirty || centroSalud.touched)" class="row alert alert-danger">
                <div *ngIf=" centroSalud.errors?.['required']">
                    Centro de Salud requerido
                </div>
            </div>
        </div>

        <div class="mb-3" *ngIf="accion!='update'">

            <label for="lapsot" class="form-label">ingrese lapso de tiempo entre cada turno (minutos)</label>
            <!-- <input type="time" class="form-control" id="hora" name="lapso" required placeholder="Ingrese lapso"
                [(ngModel)]="lapso" #lapsoT="ngModel"> -->
            <input type="number" class="form-control" id="lapsot" name="lapso" #lapsoT="ngModel" [(ngModel)]="lapso" required>
            <!-- <select class="form-select" id="lapsot" name="lapso" [(ngModel)]="lapso" required
                #lapsoT="ngModel">
                <option value="10">10 minutos</option>
                <option value="15">15 minutos</option>
                <option value="30">30 minutos</option>
                <option value="60">1 hora</option>
            </select> -->

            <div *ngIf="lapsoT.invalid && (lapsoT.dirty || lapsoT.touched)" class="alert alert-danger">
                <div *ngIf="lapsoT.errors?.['required']">
                    Debe ingresar el lapso de tiempo entre cada turno
                </div>
            </div>
        </div>
        <div class="mb-3" *ngIf="accion!='update'">
            <label for="fecha" class="form-label">¿Cuántos turnos de este especialista quiere dar de alta
                aproximadamente?</label>
            <input type="number" class="form-control" id="hora" name="cantidadTurnos" required
                placeholder="Ingrese cantidad" [(ngModel)]="cantidadTurnos" #cantidad="ngModel">

            <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
                <div *ngIf="cantidad.errors?.['required']">
                    Debe ingresar la cantidad.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Estado: </label>
            <input type="text" disabled class="form-control" id="estado" required name="estado" [(ngModel)]="turno.estado"
                #precio="ngModel">
        </div>


        <button *ngIf="accion=='new'" type="submit" class="btn btn-warning" (click)="guardarTurno()"
            [disabled]="turnoForm.invalid">Registrar Turno</button>
        <button *ngIf="accion=='update'" type="submit" class="btn btn-warning" (click)="modificarTurno()">Modificar
            Turno</button>
        <button type="submit" class="btn btn-danger ms-2" (click)="cancelar()">Cancelar</button>
    </form>

</div>