<div class="container">
    <div class="buttons" style="padding-left: 5%;">
      <button type="button" class="btnPdf ms-2" (click)="imprimirPdf()">Imprimir PDF <i class=' bx bxs-file-pdf'></i></button>
      <button type="button" class="btnExcel ms-2" (click)="imprimirXlsx()">Descargar Excel  <i class='bx bx-table bx-flip-horizontal' ></i></button>
    </div>
<br>
<br>
    <h5 class="ms-4">Buscar Usuario registrado con dni</h5>
    <div class="mb-3 ms-4" style="width:80%;">
      <input type="text" class="form-control" id="idfecha" name="fechaNac" required
          placeholder="Ingrese dni de usuario a buscar" [(ngModel)]="dni" (ngModelChange)="obtenerUsuarioDni()">
  </div>

  <div style="padding: 3%;">
      <!-- datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"-->
      <table class="table table-bordered table-hover border-primary mt-5" >
          <thead class="table-primary">
              <tr>
                  <th scope="col">Usuarios</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Operaciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let p of usuarios">
                  <td data-label="Username">{{p.username}}</td>
                  <td data-label="Email">{{p.email}}</td>
                  <td data-label="Rol">{{p.rol.descripcion}}</td>
                  <td data-label="Dni">{{p.dni}}</td>
                  <td data-label="Operaciones" class="d-flex justify-content-around">
                    <!--<button type="button" class="btn btn-warning" (click)="modificarUsuario(p)">Modificar</button>-->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar"
                    (click)="modalEliminar(p)">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<div class="modal fade" id="eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Esta seguro que desea eliminar este usuario?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>El usuario {{usuarioEliminar.username + " con rol " + usuarioEliminar.rol.descripcion}} sera eliminado</h4>
        <button type="button" class="btn btn-danger d-flex align-self-center"
          (click)="eliminarUsuario(usuarioEliminar)">Eliminar</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

