
@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  





.container{
    margin-top: 15vh;
}
.btnAgregar{
    margin-top: 2%;
    padding: 0.8%;
    border: #3da9b8 0.1em solid;
    border-radius: 12px;
    background-color: #3da9b8;
    font-weight: 600;
    color: #fefeff;
    text-decoration: none;
    cursor: pointer;
}
.btnExcel{
    margin-top: 15%;
    background-color: #007f5f;
    padding: 0.8%;
    font-weight: 600;
    border: #007f5f 0.1em solid;
    border-radius: 12px;
    letter-spacing: 0.028;
    color: #fefeff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btnPdf{
    margin-top: 15%;
    background-color: #bf0603;
    padding: 0.8%;
    font-weight: 600;
    border: #bf0603 0.1em solid;
    border-radius: 12px;
    letter-spacing: 0.028;
    color: #fefeff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btnExcel a, .btnExcel i, .btnPdf a{
    font-size: 16px;
}
.btnExcel i, .btnPdf i{
    font-size: 20px;
}